<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Users"]" href="/Users">Kullanıcı Listesi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Roles"]" href="/Roles">Roller</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Consultant"]" href="/Consultant">Danışmanlıklar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Departments"]" href="/Departments">Departmanlar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["PersonelTitles"]" href="/PersonelTitles">Personel Unvanları</a>
    </li>
   
 
</ul>