@model IEnumerable<UdemyIdentityServer.Database.Models.SystemClients>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <style>
    </style>
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Client Listesi
            <span class="fs-6 text-gray-400 fw-semibold ms-1">@Model.Count()</span>
        </h3>
        <div class="d-flex my-2">
            <div class="d-flex align-items-center position-relative me-4">
                <i class="ki-outline ki-magnifier fs-3 position-absolute translate-middle-y top-50 ms-4"></i>
                <input type="text" id="kt_filter_search" class="form-control form-control-sm form-control-solid bg-body fw-semibold fs-7 w-150px ps-11" placeholder="Firma Ara" />
            </div>
            <a href="/Users/Create" class='btn btn-primary btn-sm fw-bolder'>Client Oluştur</a>
        </div>
    </div>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ClientId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClientName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AllowedGrantTypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AllowedGrantTypeExplanation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccessTokenLifetime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AllowedGrantTypes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AllowedGrantTypeExplanation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccessTokenLifetime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit fa-2x"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-arrow-right fa-2x"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove fa-2x"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>