@model IEnumerable<UdemyIdentityServer.Database.Models.Consultant>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AdasoAdvisor.Models.ComponentViewDtos


@section styles{
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <style>
    </style>
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Danışman Türü Ekle
            <span class="fs-6 text-gray-400 fw-semibold ms-1">@Model.Count()</span>
        </h3>
        <div class="d-flex my-2">
            <div class="d-flex align-items-center position-relative me-4">
                <i class="ki-outline ki-magnifier fs-3 position-absolute translate-middle-y top-50 ms-4"></i>
                <input type="text" id="kt_filter_search" class="form-control form-control-sm form-control-solid bg-body fw-semibold fs-7 w-150px ps-11" placeholder="Firma Ara" />
            </div>
            <a href="/Consultant/Create" class='btn btn-primary btn-sm fw-bolder'>Oluştur</a>
        </div>
    </div>
    <div class="card">
<table class="table">
    <thead>
        <tr>
            <th>
               Tür
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>


@await Component.InvokeAsync("DrawerMainProcess")
@await Component.InvokeAsync("DrawerSubProcess")
@await Component.InvokeAsync("DrawerAttachmentProcess")
@await Component.InvokeAsync("DrawerKPIProcess")
@await Component.InvokeAsync("DrawerSurveyProcess")

@section scripts{
    <script src="~/assets/js/custom/utilities/modals/create-account.js"></script>
    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        $("#table").DataTable({
            "columnDefs": [
                {
                    "width": "10%",
                    "targets": 0
                }
            ]
        });

    </script>
    @*<script src="~/custom/advisor.js"></script>*@

}