@model UdemyIdentityServer.Database.Models.Users

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ModalCreateGoal" class="app-content">

    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Kullanıcı Sil
        </h3>
        <div class="d-flex my-2">
            <a asp-action="Index" class='btn btn-primary btn-sm fw-bolder'> Geri</a>
        </div>
    </div>
    <div class="card">
        <div class="row">

            <div class="col-md-8">
                <h3>Silmek istediğinizden emin misiniz?</h3>
                <div>
                    <h4>Users</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Surname)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Surname)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.City)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.City)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Avatar)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TobbUyelikOid)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TobbUyelikOid)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Consultant)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Consultant.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Department)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Department.Department1)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PersonelTitle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PersonelTitle.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Role)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Role.Name)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Sil" class="btn btn-danger" />

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
@await Component.InvokeAsync("DrawerMainProcess")
@await Component.InvokeAsync("DrawerSubProcess")
@await Component.InvokeAsync("DrawerAttachmentProcess")
@await Component.InvokeAsync("DrawerKPIProcess")
@await Component.InvokeAsync("DrawerSurveyProcess")


