<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["DashBoard"]" href="/DashBoard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["TumFirmalar"]" href="/TumFirmalar">Firmalar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Surecler"]" href="/Surecler">Süreçler </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Takvim"]" href="/Takvim">Takvim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["TumDosyalar"]" href="/TumDosyalar">Tüm Dosyalar</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Anketler"]" href="/Anketler">Anketler</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-active-primary py-5 me-6 @TempData["Yorumlar"]" href="/Yorumlar">Yorumlar</a>
    </li>
@*    <li class="nav-item">   
        <a class="nav-link text-active-primary py-5 me-6" href="javascript:void(0);">
            Yardım/ Destek/ Notlar
        </a>
    </li>*@
 
</ul>